* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  height: 100vh;
  display: flex;
	align-items: center;
	justify-content: center;
}

.calculator {
  background: black;
  border-style: ridge;
  border-width: 6px;
  border-radius: 50px;
  color: white;
  height: 700px;
  padding: 15px;
  position: relative;
  width: 340px;
}

.top-container {
  display: flex;
  height: 160px;
  justify-content: space-between;
  padding: 0 15px;
}

.top-container .status img {
  width: 80px;
  height: 17px;
}

.top-container .clock {
  margin-left: 10px;
}

.value {
  font-size: 65px;
  font-weight: 200;
  height: 100px;
  margin-bottom: -10px;
  margin-right: 20px;
  text-align: right;
}

.buttons-container {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.button {
  align-items: center;
  background: #333;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  font-size: 30px;
  height: 60px;
  justify-content: center;
  transition: filter .3s;
  width: 60px;
}

.button.function .plus {
  margin-bottom: 10px;
  font-size: 20px;
}
.button.function .minus {
  margin-top: 5px;
  font-size: 20px;
}
.button.function .slash {
  margin-right: 1px;
  font-size: 25px;
  rotate: 20deg;
}

.button.function {
  color: black;
  background: #a5a5a5;
  font-weight: 500;
  font-size: 25px;
}

.button.operator {
  background: darkorange;
  font-weight: 600;
  font-size: 30px;
  
}

.button.number-0 {
  border-radius: 55px;
  grid-column: 1 / span 2;
  justify-content: flex-start;
  padding-left: 20px;
  width: 150px;
}

.button:active,
.button:focus {
  filter: brightness(200%);
}

.bottom {
  width: 150px;
  height: 5px;
  background: white;
  border-radius: 4px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
